[submodule "packages/veraswap-sdk/lib/forge-std"]
	path = packages/veraswap-sdk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	branch = master
[submodule "packages/veraswap-sdk/lib/openzeppelin-contracts"]
	path = packages/veraswap-sdk/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = master
[submodule "packages/veraswap-sdk/lib/permit2"]
	path = packages/veraswap-sdk/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "lib/permit2"]
	branch = main
[submodule "packages/veraswap-sdk/lib/v2-core"]
	path = packages/veraswap-sdk/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "lib/v2-core"]
	branch = master
[submodule "packages/veraswap-sdk/lib/v3-core"]
	path = packages/veraswap-sdk/lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "lib/v3-core"]
	branch = main
[submodule "packages/veraswap-sdk/lib/v3-periphery"]
	path = packages/veraswap-sdk/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "lib/v3-periphery"]
	branch = main
[submodule "packages/veraswap-sdk/lib/v4-core"]
	path = packages/veraswap-sdk/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "lib/v4-core"]
	branch = main
[submodule "packages/veraswap-sdk/lib/v4-periphery"]
	path = packages/veraswap-sdk/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "lib/v4-periphery"]
	branch = main
[submodule "packages/veraswap-sdk/lib/uniswap-hooks"]
	path = packages/veraswap-sdk/lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
[submodule "lib/uniswap-hooks"]
	branch = master
